@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Montserrat';
  src: url('/fonts/Montserrat-VariableFont_wght.ttf');
}

@keyframes shine {
  0% {
    background-position: 70% 0, 0 0;
  }
  50% {
    background-position: 0% 0, 0 0;
  }
  100% {
    background-position: 70% 0, 0 0;
  }
}


@layer base{
  html {
    color-scheme: light !important;
  }
  
  body {
    @apply bg-black text-[#d1e1f3] font-montserrat
  }

  h1 {
    @apply text-[44px] md:text-[84px] font-montserrat font-medium tracking-tighter text-center bg-gradient-to-r from-[#8693a1] via-60% via-slate-50 to-[#9dabbb] bg-clip-text text-transparent;
    background-size: 200% 200%;
  }

  h2 {
    @apply text-4xl md:text-[60px] leading-tight font-montserrat font-medium tracking-tighter text-center bg-gradient-to-r from-[#8693a1] via-60% via-slate-50 to-[#9dabbb] bg-clip-text text-transparent;
    background-size: 200% 200%;
  }

  h3 {
    @apply font-montserrat font-semibold text-xl
  }
}

.navDropdownMenuBox{
  @apply flex flex-col justify-start h-full w-full border-[#2a2b3c]/80 p-7 gap-3
}

.navDropdownMenuItem{
  @apply flex w-full gap-3 items-center text-xs font-medium text-[#9495a7] hoverLight cursor-pointer
}

.navDropdownCaption{
  @apply flex w-full text-xs font-medium uppercase text-[#8889a5]
}

.navDropdownIcon{
  @apply inline  text-[#57587b]
}

.hoverLight{
  @apply hover:text-white duration-150 ease-in-out transition
}

.subtitle {
  @apply font-montserrat tracking-[15px] font-normal text-center text-[20px]
}

.caption {
  @apply font-montserrat tracking-[10px] md:tracking-[20px] font-normal text-center text-xs
}

.sponsorContainer {
  @apply  border-l w-[42vw] md:w-[28vw] h-full p-4 border-[#2a2b3c]
}

.sponsorContainerEnd {
  @apply  border-l border-r  w-[42vw] md:w-[28vw] h-full p-4 border-[#2a2b3c]
}

.sponsorBanner{
  @apply relative flex border-t border-b border-[#2a2b3c] w-full h-[18vh] md:h-1/5 items-center justify-center
}

.platinumSponsorBanner {
  @apply z-20 cursor-pointer flex w-full h-full items-center justify-center rounded-xl bg-[linear-gradient(45deg,transparent_25%,rgba(157,121,255,.3)_50%,rgba(72,122,243,.1)_70%,transparent_100%)] bg-[length:250%_250%,100%_100%] bg-[position:70%_0,0_0] bg-no-repeat ease-in-out;
  transition: background-position 0s ease;
}

.goldSponsorBanner {
  @apply z-20 cursor-pointer flex w-full h-full items-center justify-center rounded-xl bg-[linear-gradient(45deg,transparent_25%,rgba(72,122,243,.2)_50%,transparent_75%,transparent_100%)] bg-[length:250%_250%,100%_100%] bg-[position:70%_0,0_0] bg-no-repeat ease-in-out;
  transition: background-position 0s ease;
}

.silverSponsorBanner {
  @apply z-20 cursor-pointer  flex w-full h-full items-center justify-center rounded-xl bg-[linear-gradient(45deg,transparent_25%,rgba(72,122,243,.15)_50%,transparent_75%,transparent_100%)] bg-[length:250%_250%,100%_100%] bg-[position:70%_0,0_0] bg-no-repeat ease-in-out;
  transition: background-position 0s ease;
}

.bronzeSponsorBanner {
  @apply z-20 cursor-pointer  flex w-full h-full items-center justify-center rounded-xl bg-[linear-gradient(45deg,transparent_25%,rgba(72,122,243,.05)_50%,transparent_75%,transparent_100%)] bg-[length:250%_250%,100%_100%] bg-[position:70%_0,0_0] bg-no-repeat ease-in-out;
  transition: background-position 0s ease;
}

.platinumSponsorBanner:hover, .goldSponsorBanner:hover, .silverSponsorBanner:hover, .bronzeSponsorBanner:hover {
  animation: shine 5s ease-in-out;
}

.menuDivider{
  @apply flex border-[0.5px] border-[#2a2b3c]/80 h-0 w-full
}

.footerItem{
  @apply flex font-normal w-full items-center text-sm text-[#8a8b9c] hover:text-[#d1e1f3] transition duration-300 ease-in-out cursor-pointer
}

.navMenuContainer{
  @apply bg-[#0f121a]/70 backdrop-blur-sm text-xs py-2 rounded-full border border-[#2a2b3c]/80
}

.navDropdownMenuContainer{
  @apply bg-[#0f121a]/80 backdrop-blur-sm text-xs rounded-3xl border border-[#2a2b3c]/80
}

.navMainItem{
  @apply text-sm hover:opacity-75 duration-300 transition ease-in-out cursor-pointer font-medium
}

.navButton{
  @apply bg-[#d1e1f3] text-black px-4 py-2 rounded-full text-xs font-semibold hover:opacity-90 duration-200 transition ease-in-out cursor-pointer
}

.navMenuItem{
  @apply hover:bg-[#504d87]/20 px-3 py-1 rounded-full border-[0.3px] border-transparent cursor-pointer hover:border-[#272835] duration-200 transition ease-in-out
}

.mask{
  mask-image: url('/images/mask.svg');
  mask-repeat: no-repeat;
  mask-size: 300px;
}

.topPlus{
  @apply absolute right-0 h-full top-[-14px] translate-x-[-5px] text-xl z-[5]
}

.topPlusEnd{
  @apply absolute right-0 h-full top-[-14px] translate-x-[-6px] text-xl z-[5]
}

.bottomPlus{
  @apply absolute right-0 h-full top-[100%] translate-y-[-14px] translate-x-[-5px] text-xl z-[5]
}

.bottomPlusEnd{
  @apply absolute right-0 h-full top-[100%] translate-y-[-14px] translate-x-[-6px] text-xl z-[5]
}

.ntuDetail{
  @apply flex rounded-xl border border-[#504d87]/40 text-xs outline-none focus:border-[#656291]/70 px-4 py-2 hover:border-violet-400/20 duration-300 transition ease-in-out placeholder:text-[#524f75] text-[#c1c1d1] font-medium tracking-tight z-30 bg-transparent
}

.placeholderIndicator{
  @apply antialiased hover:placeholder:text-[#bcbdde] placeholder:text-[#626377] placeholder:duration-300 placeholder:transition placeholder:ease-in-out
}


.textIndicator{
  @apply  hover:text-[#bcbdde] text-[#626377] duration-300 transition ease-in-out
}
.skullKing{
  @apply absolute top-0 text-[#8f90a8] right-0 -translate-x-10 py-1 translate-y-1 text-xs rounded-lg border border-[#2a2b3c]/80 bg-[#0f121a]/70 px-3 opacity-0 transition-opacity duration-300 group-hover:opacity-100
}

.dot{
  @apply w-[5px] bg-[#bcbdde] rounded-full h-[5px]
}

.authContainer{
  @apply flex flex-col gap-2 w-full h-full lg:h-[60%] justify-center lg:w-1/3 rounded-3xl px-12 md:px-32 lg:px-8 py-12 border border-[#1e1d31] bg-gradient-to-br from-[#212738]/20 to-[#1b1b33]/20 lg:from-[#212738]/40 lg:to-[#1b1b33]/40 backdrop-blur-sm
}

.authButton{
  @apply flex py-2 text-xs mt-2 uppercase tracking-wide items-center justify-between px-4 text-white border-white rounded-lg border-[0.5px] hover:border-[#c8c1ee]/60 hover:text-[#c8c1ee]/60 duration-200 transition ease-in-out
}

.authField{
  @apply flex flex-col gap-2 items-center justify-center w-full
}

.authLabel{
  @apply text-[10px] font-medium w-full uppercase tracking-widest flex text-left text-[#908ca8] ml-2
}

.authInput{
  @apply w-full flex border-b-[0.5px] bg-[#0e0d12] text-[#d4cef2] border-[#6a6680] rounded-xl border-[0.5px] px-4 py-2 text-xs focus:border-[#a197d1] hover:border-[#a197d1] outline-none duration-200 transition ease-in-out
}

.authError {
  @apply flex uppercase text-center items-center justify-center mt-2 text-red-500 text-[8px] w-full break-words whitespace-normal font-montserrat tracking-wider;
}

.authTitle{
  @apply text-[36px] mb-4 items-center justify-center w-full text-center leading-tight font-montserrat font-medium tracking-tighter text-slate-200 ;
}

.authDivider{
  @apply h-[0.5px] w-full bg-white border-[#1e1d31] border-[0.5px]
}

.authDividerContainer{
  @apply flex flex-row gap-2 w-full items-center mt-4
}

.authDividerCentralText{
  @apply text-[10px] text-[#565369] font-medium uppercase tracking-tight flex
}

.authAltButton{
  @apply flex py-2 font-normal text-xs mt-2 uppercase tracking-widest items-center justify-center px-4 bg-gradient-to-r from-[#c8c1ee]/20 to-[#c8c1ee]/10 text-white rounded-xl duration-300 transition ease-in-out 
}

.authResendCode{
  @apply flex text-xs uppercase tracking-wide text-[#b4aeda] disabled:text-[#c8c1ee]/30 hover:text-[#c8c1ee]/60 duration-200 transition ease-in-out
}

.authResendCodeDisabled{
  @apply flex text-xs uppercase tracking-wide text-[#c8c1ee]/30
}

.benefitBoxA{
  @apply rounded-3xl  bg-gradient-to-br from-[#454eef]/40 to-[#7245ef]/20 p-8 items-center justify-center;
  box-shadow: 0 -2px 30px rgba(11, 48, 151, 0.5)
}

.benefitBoxB{
  @apply rounded-3xl bg-gradient-to-br from-[#454eef]/80 to-[#7245ef]/80 p-8 items-center justify-center;
  box-shadow: 0 -2px 30px rgba(50, 91, 206, 0.5)
}